[Unit]
Description=Thinkpad Backlight service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/sbin/thinkbacklight -config=/etc/thinkbacklight/config.yaml

[Install]
WantedBy=multi-user.target